.elementTileLeft {
  align-items: flex-start;
}

.elementTileRight {
  align-items: flex-end;
}

.buttonTooltipDashboard {
  display: flex;
  justify-content: space-between;
}
.buttonTile {
  color: #0050d7;
  background-color: #fff;
  border-color: #0050d7;
  min-width: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0;
  overflow: visible;
  border-radius: 100%;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  left: -85%;
}

.tooltip .tooltiptext {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  right: -100%;
  border: 2px solid #e6e6e6;
  text-align: left;
  z-index: 9999;
}

.tile-content {
  display: block;
  width: 100%;
}

.dashboard-section {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
